*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3e6d8;
}

.component{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
    width: 736px;
    color: #5f574e;
    background-color: #fff; 
}

.img-container{
    margin: 40px;
}

.image img{
    width: 656px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.recipe{
    gap: 24px;
    line-height: 25px;
}
  
.header{
    font-size: 40px;
    line-height: 100%;
    color: #312E2C;
    font-weight: 400;
    margin: 20px 20px 0px 0px;
    font-family: "Young Serif", serif;
}

.note{
    font-weight: 300;
    margin-top: 15px;
    padding-bottom: 32px;
    font-family: "Outfit", sans-serif;
}

.color{
    color: #7b284f;
    font-size: 20px;
    font-weight: 700;
    font-family: "Outfit", sans-serif;
}

.prepare{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    line-height: 30px;
    width: 656px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF7FB;
}

.color2, .color3, .color1{
    color:#854632;
    font-size: 28px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Young Serif", serif;
}

.ingredients{
    margin-top: 25px;
    line-height: 30px; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-family: "Outfit", sans-serif;
}

li::marker {
    color: #854632;
    font-weight: 700;
} 

ol{
    list-style-position: outside;
    padding-left: 20px; 
}
  
ol li{
    padding-left: 18px;
}

ul{
    padding-left: 30px; 
}

ul li{
    padding-left: 12px;
} 
   
.Instruct{
    padding-bottom: 20px;
    margin-top: 32px;
    margin-bottom: 20px;
    line-height: 30px; 
    border-bottom: 1px solid #ccc;
    font-family: "Outfit", sans-serif;
}

.Nutrition{
    gap: 24px;
    line-height: 25px; 
}

.table{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 40px;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
}

.nutrition-table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 30px;
    padding-left: 5px; 
}
                  
.nutrition-table td {
    border-bottom: 1px solid #f0f0f0;;
    padding: 12px 8px;
 }

 .color4{
    color: #5a2a0c;
    font-family: "Outfit", sans-serif;
 }

 .fat{
    gap: 20px;
    padding-right: 300px;
    padding-left: 10px;
    margin-left: 30px;
 }

 .fatty{
    display: flex;
    align-items: center;
    margin-top: 15px;
 }

 .attribution{
    text-align: center;
    margin-top: 40px;
 }

 /* mobile view */
 @media (max-width: 600px) {
    .component {
      width: 70%;
      height: auto;
    }
  
    .img-container {
      margin: 20px;
    }
  
    .image img {
      width: 100%;
      height: auto;
      border-radius: 12px;
    }
  
    .prepare {
      width: 100%;
      padding: 12px;
    }
  
    .header {
      font-size: 24px;
    }
  
    .color2, .color3, .color1 {
      font-size: 20px;
    }

    .ingredients{
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    
    .Instruct{
        width: 100%;
    }
  
    .fat {
        padding-right: 105px;
    }
  
    ul {
      padding-left: 20px;
    }
  
    ol li,
    ul li {
      padding-left: 0;
    }
  }
  



















